<div id="floating-header">
    <header id="site-header" class="block-element" aria-label="site header">
        <button id="nav-menu-button" aria-controls="site-nav-menu" aria-label="Toggle navigation menu">
            <svg class="ellipsis-icon">
                <circle class="ellipsis-dot"/>
                <circle class="ellipsis-dot"/>
                <circle class="ellipsis-dot"/>
            </svg>
        </button>
        <div id="site-header-title">{{ site.title }}</div>
    </header>
</div>
