.block-element {
    background-color: $block-background-color;
    border-radius: $block-border-radius;
    padding: $block-vertical-padding $block-horizontal-padding;
    border: 1px solid $outline-color;
    margin: 0 0 $block-spacing 0;

    & > :first-child {
        margin-top: 0;
    }
    
    & > :last-child {
        margin-bottom: 0;
    }
}

.section-header {
    border-bottom: 1px solid $outline-color;
    padding: 0px $block-horizontal-padding 1rem;
    margin: 0px #{$block-horizontal-padding * -1};
}
