@charset "utf-8";

$body-background-color: #262328;
$body-padding: 0.8rem;

$block-background-color: #484449;
$outline-color: black;
$block-border-radius: 0.75rem;
$block-vertical-padding: 1rem;
$block-horizontal-padding: 1.5rem;
$block-spacing: 1rem;

$text-color: #e8e8e8;

$link-color: #e57bff;
$visited-link-color: darken($link-color, 10%);

$tertiary-color: #8b8b8b;
$secondary-accent: #787878;
