@use '../variables';

@mixin nav-sizing {
    width: var(--expanded-nav-width);
    height: 100vh;
}

// this wrapper is responsible for still displacing other elements on the page
#site-nav-menu-displacement-wrapper {
    --expanded-nav-width: 30ch;
    flex-grow: 0;
    z-index: 10000;
    position: sticky;
    top: 0;
    @include nav-sizing; // adjustment accounts for the border thickness
    overflow-x: hidden; // used to show/hide the nav content
    padding: 0px;
    border-right: solid 1px black;
    transition: width 500ms, border-width 500ms ease-out;

    &:has(#site-nav-menu:not(.shown)) {
        width: 0px;
        border-width: 0;
    }

    @media screen and (width < 500px) {
        --expanded-nav-width: 100vw;
        position: fixed;
    }
}

#site-nav-menu {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    text-align: center;
    padding: 0;
    overflow-y: scroll;
    @include nav-sizing;
    background-color: variables.$block-background-color;
}

#nav-header {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
}

#nav-close-button {
    font-size: 2.5em;
    padding: 0;
    margin: 0.25em;
    background: none;
    border: none;
    cursor: pointer;

    svg {
        height: 1em;
        width: 1em;
    }
}

.nav-item-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0px; // corrected default list style
    margin: 0px; // corrected default list style
    align-items: stretch;

    & > li {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
}

@mixin nav-menu-marker($icon) {
    &::before {
        transform-origin: 75% 25%; // these values are necessary to fix the rotation
        position: absolute;
        display: block;
        left: 1em;
        top: 50%;
        transform: translate(0, -50%); // adjusts for the element's height
        content: "";
        background-image: $icon;
        height: 1em;
        width: 1em;
        background-size: contain;
    }
}

.nav-item {
    position: relative;
    background-color: transparent;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    padding: 0.7em;
    border: none;
    border-bottom: solid 1px variables.$outline-color;
    cursor: pointer;
    transition: background-color 0.3s;

    &, &:link, &:visited {
        color: variables.$text-color;
    }
    
    &:hover, &:focus-visible {
        background-color: #00000045;
    }

    &.expandable {
        list-style: none; // remove the standard ::marker since it cannot be easily restyled

        &::-webkit-details-marker {
            display: none; // remove the standard ::marker for webkit browsers
        }

        @include nav-menu-marker(url('/assets/icons/dropdown-indicator.svg'));

        [open] > & { // when this section is expanded
            &::before {
                transform: rotate(90deg);
            }
        }
    }

    &.nested {
        @include nav-menu-marker(url('/assets/icons/nested-indicator.svg'));
    }
}
