@import 'includes/header';
@import 'includes/nav';
@import 'includes/footer';

html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: 100vh;
}

body {
  background-color: $body-background-color;
  color: $text-color;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100vw;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

#content-area {
  display: flex;

  flex-direction: column;
  justify-content: start;
  min-height: calc(100vh - 2rem);
  width: min(80ch, calc(100vw - 2rem));
  flex-grow: 1;
  align-items: stretch;
  margin: $block-spacing;
}

main {
  flex-grow: 1;
}
