dialog {
    background-color: $block-background-color;
    border-radius: $block-border-radius;
    padding: $block-vertical-padding $block-horizontal-padding;
    border: 1px solid $outline-color;
    color: $text-color;

    &::backdrop {
        background-color: #ffffff;
        opacity: 60%;
    }
}