@use '../variables';

dialog {
    background-color: variables.$block-background-color;
    border-radius: variables.$block-border-radius;
    padding: variables.$block-vertical-padding variables.$block-horizontal-padding;
    border: 1px solid variables.$outline-color;
    color: variables.$text-color;

    &::backdrop {
        background-color: #ffffff;
        opacity: 60%;
    }
}