#site-nav-menu {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    padding: 0;
    flex-grow: 0;
    overflow: scroll;
    width: 30ch;
    max-width: 100vw;
    background-color: $block-background-color;
    transition: width 500ms;
    border-right: solid 1px black;
  
    &:not(.shown) {
        width: 0;
    }

    @media screen and (width < 500px) {
        position: fixed;
        left: 0;
        width: 100vw;
        transition-property: left;
        z-index: 10000;

        &:not(.shown) {
            left: -100vw;
        }
    }
}

#nav-header {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
}

#nav-close-button {
    font-size: 3em;
    padding: 0;
    margin: 0.25em;
    background: none;
    border: none;
    cursor: pointer;

    svg {
        height: 1em;
        width: 1em;
    }
}

.nav-link {
    color: white;
    padding: 0.7em;
    font-weight: bold;
    text-decoration: none;
    transition-property: background-color;
    transition-duration: 0.3s;
}

.nav-link:hover, .nav-link:focus-visible {
    background-color: #00000045;
}

.nav-link:not(:last-child) {
    border-bottom: solid 1px black;
}