@mixin nav-sizing {
    width: var(--expanded-nav-width);
    height: 100vh;
}

// this wrapper is responsible for still displacing other elements on the page
#site-nav-menu-displacement-wrapper {
    --expanded-nav-width: 30ch;
    flex-grow: 0;
    z-index: 10000;
    position: sticky;
    top: 0;
    @include nav-sizing; // adjustment accounts for the border thickness
    overflow-x: hidden; // used to show/hide the nav content
    padding: 0px;
    border-right: solid 1px black;
    transition: width 500ms, border-width 500ms ease-out;
  
    &:has(#site-nav-menu:not(.shown)) {
        width: 0px;
        border-width: 0;
    }

    @media screen and (width < 500px) {
        --expanded-nav-width: 100vw;
        position: fixed;
    }
}

#site-nav-menu {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    text-align: center;
    padding: 0;
    overflow-y: scroll;
    @include nav-sizing;
    background-color: $block-background-color;
}

#nav-header {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
}

#nav-close-button {
    font-size: 2.5em;
    padding: 0;
    margin: 0.25em;
    background: none;
    border: none;
    cursor: pointer;

    svg {
        height: 1em;
        width: 1em;
    }
}

.nav-link {
    background-color: transparent;
    color: white;
    padding: 0.7em;
    border: none;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s;
    border-bottom: solid 1px black;
    cursor: pointer;

    &:hover, &:focus-visible {
    background-color: #00000045;
}

    &:not(:last-child) {
    border-bottom: solid 1px black;
    }
}